* {
    background-color: bisque;
}

/*///////////////////////////*/
/*///////////////////////////*/
/*/ ABOUT THE WATERING HOLE /*/
/*///////////////////////////*/
/*///////////////////////////*/

/* Container holding the image and the text */
.imgContainer {
    position: relative;
    text-align: center;
    color: black;
}

/* Bottom left text */

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*///////////////////////////*/
/*///////////////////////////*/
/*/     ABOUT PLAYER 1      /*/
/*///////////////////////////*/
/*///////////////////////////*/

#player1TraitCards {
    border : solid;
    border-color: brown;
    margin: 10px;
}
#player1Species {
    border : solid;
    border-color: green;
    margin: 10px;
}
#player1TraitCards ul {
    margin:20px;
}
#player1TraitCards li {
    display: inline;
    padding-block-end: 5px;
}

#player1Species ul {
    margin:20px;
}
#player1Species li {
    display: inline;
}

/*///////////////////////////*/
/*///////////////////////////*/
/*/   ABOUT PLAYER 2 & 3    /*/
/*///////////////////////////*/
/*///////////////////////////*/
li {
    list-style:none;
    padding:10px;
}